:root


body {
    font-family: 'Rock Salt', cursive;
}


/*--------------------Navigation bar---------------- */

.navbar-collapse {
    flex-grow: 0;
}
.libre-logo {
    border-radius: 50%;
    border-style: solid;
    padding: 3px;
    box-shadow: 0px 0px 20px 9px;
}
.navbar{
    background-color:transparent; 
    /* #0a0c10 */
}
.nav-link{
    margin: 8px;
    display: flex;
}
.navbar-toggler{
    font-size: 2rem;
    color: #c265fc;
}
.home-link--text {
    font-family: 'Rock Salt',sans-serif;
    color: #ee82ee;
    text-transform: capitalize;
    text-shadow: -20px -5px 20px #ee82ee;
    box-shadow: 1px 1px 18px 4px#ee82ee;
    /* font-size: 28px; */
    line-height: 22px;
    letter-spacing: 0.269em;
    font-weight: 700;
    border-style: solid;
    border-radius: 23px;
}
.home-link--text:hover{
color:#c265fc
}
.contact-link--text{
    color: #85e6f0;
    text-transform: capitalize;
    text-shadow:  -20px -5px 20px #85e6f0;
    box-shadow: 1px 1px 18px 4px #85e6f0;
    /* font-size: 28px; */
    line-height: 22px;
    letter-spacing: 0.269em;
    font-weight: 700;
    border-style: solid;
    border-radius: 23px;
}
.contact-link--text:hover{
    color: #00b2ca;
}
.coctail-link--text{
    color: #7690fc;
    text-transform: capitalize;
    text-shadow: -20px -5px 20px #7690fc;
    box-shadow: 1px 1px 18px 4px #7690fc;
    /* font-size: 28px; */
    line-height: 22px;
    letter-spacing: 0.269em;
    font-weight: 700;
    border-style: solid;
    border-radius: 23px;
}
.coctail-link--text:hover {
    color:#039eda;
}
/*--------------------Hero Image Section ---------------- */
#hero-img {
background: url(../images/hero-neon.jpg);
position: relative;
background-repeat: no-repeat;
background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-position: center;
background-attachment: fixed;
}
.hero-container{
    height: 90vh;
    position: relative;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
}
#header-text{
    position: absolute;
    top: 42%;
    text-align: center;
    bottom: 50%;
    left: 50%;
    color:#1dea7d;
    letter-spacing: 2px;
    transform: translate(-50%,-50%);
}
.hero-text {
    position: absolute;
    text-align: center;
    top: 50%;
    bottom: 50%;
    left: 50%;
    color:#f1091f;
    letter-spacing: 2px;
    transform: translate(-50%,-50%);
}