
body {
  font-family: "Rock Salt", cursive;
  min-height: 100vh;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  perspective: 2000px;
}

/*--------------------Navigation bar---------------- */

.navbar-collapse {
  flex-grow: 0;
}
.libre-logo {
  border-radius: 50%;
  border-style: solid;
  padding: 3px;
  box-shadow: 0px 0px 20px 9px;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.4);

}
.nav-link {
  margin: 8px;
  display: flex;
}
.navbar-toggler {
  font-size: 2rem;
  color: #c265fc;
}
.home-link--text {
  font-family: "Rock Salt", sans-serif;
  color: #ee82ee;
  text-transform: capitalize;
  text-shadow: -20px -5px 20px #ee82ee;
  box-shadow: 1px 1px 18px 4px#ee82ee;
  line-height: 22px;
  letter-spacing: 0.269em;
  font-weight: 700;
  border-style: solid;
  border-radius: 23px;
}
.home-link--text:hover {
  color: #c265fc;
}
.contact-link--text {
  color: #85e6f0;
  text-transform: capitalize;
  text-shadow: -20px -5px 20px #85e6f0;
  box-shadow: 1px 1px 18px 4px #85e6f0;
  line-height: 22px;
  letter-spacing: 0.269em;
  font-weight: 700;
  border-style: solid;
  border-radius: 23px;
}
.contact-link--text:hover {
  color: #00b2ca;
}
.coctail-link--text {
  color: #7690fc;
  text-transform: capitalize;
  text-shadow: -20px -5px 20px #7690fc;
  box-shadow: 1px 1px 18px 4px #7690fc;
  line-height: 22px;
  letter-spacing: 0.269em;
  font-weight: 700;
  border-style: solid;
  border-radius: 23px;
}
.coctail-link--text:hover {
  color: #039eda;
}
/*--------------------Hero Image Section ---------------- */
#hero-img {
  background: url(../images/hero-neon.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.hero-container {
  height: 90vh;
  position: relative;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}
#header-text {
  position: absolute;
  top: 42%;
  text-align: center;
  bottom: 50%;
  left: 50%;
  color: #1dea7d;
  letter-spacing: 2px;
  transform: translate(-50%, -50%);
}
.hero-text {
  position: absolute;
  text-align: center;
  top: 50%;
  bottom: 50%;
  left: 50%;
  color: #edf109;
  letter-spacing: 6px;
  font-weight: 600;
  transform: translate(-50%, -50%);
}
.quote-btn {
  position: absolute;
  text-align: center;
  top: 70%;
  height: 46px;
  width: 15rem;
  border-radius: 23px;
  border:none;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #00adff;
  background-color: #eb04ef;
  box-shadow: -2px 2px 20px 4px #eb04ef;
}
/*--------------------About Us Section ---------------- */

.man-img {
  width: 25rem;
  height: 25rem;
  margin-bottom: 85px;
  margin-left: 85px;
}
@media screen and (max-width:640px) {
  
  .man-img {
    width: 15rem;
    height: 15rem;
    margin-left: 45px;
  }
  .card1 {
    transform-style: preserve-3d;
    min-height: 70vh;
    /* width: 20rem; */
    border-radius: 30px;
    padding: 0rem 5rem;
    box-shadow: 0 20px 20px  rgba(232,8,205,0.58), 0px 0px 50px rgba(155,41,216,0.76);
  }
  .circle {
    width: 10rem;
    height: 10rem;
    background: linear-gradient(
      to right,
      rgba(245, 70, 66, 0.75),
      rgba(8, 83, 156, 0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    margin-top: 60px;
    margin-left: 20px;
  }

  .nav {
    display: grid;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    height: 100vh;
    width: 100vw;
    background-color: rgb(10,12,16);
    justify-content: center;
  }
}
.about-text {
  text-align: center;
  color: #ee82ee;
  padding: 50px 50px;
  margin-bottom: 85px;
  transition: all ease-out 2s;
  opacity: 0;
}
.show-about-text{
  text-align: center;
  color: #ee82ee;
  padding: 50px 50px;
  margin-bottom: 85px;
  transition: all ease-in-out 5s;
  opacity: 1;
}
.about-header {
  text-align: center;
  display: inline-block;
  color: #ee82ee;
  font-size: 29px;
  padding: 50px 50px;
  background-color: rgb(10 12 16);
}

.about-section {
  background-color: rgb(10 12 16);
  position: relative;
}
.about-plus {
  margin-left: 55px;
}

/* Cards styling */

.card-container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(10 12 16);
}
.card1 {
  transform-style: preserve-3d;
  min-height: 70vh;
  /* width: 25rem; */
  border-radius: 30px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px  rgba(232,8,205,0.58), 0px 0px 50px rgba(155,41,216,0.76);
}


.icy-cocktail{
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icy-cocktail img {
  width: 15rem;
  z-index: 20;
  transition: all 0.75s ease-out;
  
}
.circle {
  width: 15rem;
  height: 15rem;
  background: linear-gradient(
    to right,
    rgba(245, 70, 66, 0.75),
    rgba(8, 83, 156, 0.75)
  );
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  margin-top: 60px;
  margin-left: 20px;
}
/* Video styling */

.barman video {
  max-width: 100%;
  max-height: 60vh;
  top : 0;
  left: 0;
  object-fit: cover;
  margin-left: 65px;
}
/* .barman-action{
  position: absolute;
  width: 100%;
  height: 90vh;
  top : 0;
  left: 0;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
  background-color: rgb(10 12 16);
  color: rgba(232,8,205,0.58);
  transition: all ease-in-out 3s;
  opacity: 1;
} */
/* .barman-action-appear {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 90vh;
  top : 0;
  left: 0;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
  background-color: rgb(10 12 16);
  color: rgba(232,8,205,0.58);
  transition: all ease-in-out 3s;
} */

hr:not([size]) {
  height: 9px;
  width: 60%;
  /* https://cssgradient.io/ used for background gradient color*/
  margin-left: 55px;
  background: rgb(10 12 16);
  background: linear-gradient(90deg, rgba(2,0,36,1) 8%, rgba(110,9,121,1) 52%, rgba(0,212,255,1) 80%);
}
/* Google maps styling */

div #map {
  min-height: 500px;
  max-width :100%;
}
.festivals{
  color: #a9ea0a;
  text-shadow: -20px -5px 20px #c94612;
  box-shadow: 1px 1px 18px 4px #7690fc;
  line-height: 22px;
  letter-spacing: 0.269em;
  font-weight: 700;
  border-style: none;
  border-radius: 50%;
  max-width: 220px;
  min-height: 220px;
  margin:auto;
  display: block;
  /* Photo downloaded from : https://www.pexels.com/photo/aerial-view-of-concert-on-grounds-1692695/  */
  background: url(../images/festival.jpg);
  background-size: cover;
}